#prfx_meta{
	overflow: hidden;
	padding-bottom: 1em;
}

#prfx_meta p{
	clear: both;
}

.prfx-row-title{
	display: block;
	float: left;
	width: 200px;
}

.prfx-row-content{
	float: left;
	padding-bottom: 1em;
}

.prfx-row-content label{
	display: block;
	line-height: 1.75em;
}

#subtitlediv input {
	width: 100%;
}

.customize-control-title {
	display: block;
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
	margin-bottom: 4px;
	color: #555d66;
}

.background-image-preview img {
	width: 250px;
	cursor: pointer;
	border: 1px solid #666;
}

.background-image-remove {
	display: none;
}

.background-video-url {
	width: 100%;
}